.coverage*
*~
*,cover
server.log
*.egg-info
\#*
.\#*
__pycache__
venv

*.exe
*.s
*.d
*.ii
*.csv
*.json
**/.cfiddle
**/.ipynb_checkpoints
**/*.so
**/*.o
**/.DS_Store
dist
build
.clean_checkout
build_release

Untitled*.ipynb
.remote_test
